@import url('https://fonts.googleapis.com/css?family=Exo:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.danger {
  color: #ff0000;
}

.p {
  padding: 0.3rem;
}

.m {
  margin: 0 0.3rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
}

.button:hover {
  opacity: 0.6;
}

.fadeIn {
  animation: fadeIn 500ms ease-in;
}

.fadeOut {
  animation: fadeOut 500ms ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #fff0f5;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#heading {
  font-size: 1.7rem;
  margin: 3vh 0 1rem;
  align-self: center;
}

#user {
  max-width: 60vw;
  margin: -0.5rem auto;
  outline-color: #999;
  cursor: pointer;
}

#focus {
  font-size: 1.2rem;
  align-self: center;
}

#input-focus {
  width: 40vw;
  outline-color: #999;
  margin: auto;
  cursor: pointer;
}

#bg-full-image {
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

#weather-div {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
}

#weather-dis,
#weather-dis-alt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.weather-title,
.weather-title-alt {
  grid-column: span 3;
}

.weather-temp,
.weather-temp-alt {
  grid-column: 2 / 4;
  font-size: 1.6rem;
}

.deg {
  font-size: 1rem;
}

.weather-icon,
.weather-icon-alt {
  /* margin: -0.7rem -0.9rem 0 0;  */
}

#five-day,
#alt-five-day {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 22rem;
  height: 15rem;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
}

#dayone,
#alt-dayone {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.3rem;
  margin-left: 10px;
}

#dayone h4,
#alt-dayone h4 {
  grid-column: span 3;
  font-size: 1.6rem;
}

#dayone h5:nth-child(2),
#alt-dayone h5:nth-child(2) {
  font-size: 3.5rem;
  grid-column: 1 / 2;
  align-self: flex-end;
}

#dayone h5:nth-child(3),
#alt-dayone h5:nth-child(3) {
  grid-column: span 2;
  align-self: center;
  font-size: 1.3rem;
}

#dayone i,
#alt-dayone i {
  grid-column: span 2;
  margin-top: -2rem;
}

#dayone :nth-child(5),
#alt-dayone :nth-child(5) {
  grid-column: 4 / 6;
  margin-top: -2.5rem;
}

#dayone :nth-child(6),
#alt-dayone :nth-child(6) {
  grid-column: 4 / 6;
  margin-top: -1.5rem;
}

.days {
  padding-top: 5px;
  font-size: 1rem;
}

#five-day div:nth-child(n + 2),
#alt-five-day div:nth-child(n + 2) {
  font-size: 0.8rem;
  border-top: 0.5px solid #fff0f5;
}

#five-day div:nth-child(n + 3),
#alt-five-day div:nth-child(n + 3) {
  border-left: 0.5px dotted #fff0f5;
}

#clock,
#alt-clock {
  position: absolute;
  top: 35vh;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 8rem;
  font-weight: 600;
  z-index: 10;
}

#clock {
  margin-left: 2rem;
}

#clockSpan {
  font-size: 4rem;
  margin-left: 0.4rem;
  font-weight: 300;
}

#todo-open {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 14vh;
  left: 2vw;
  opacity: 0.6;
  transition: 0.4s ease-out;
  z-index: 10;
}

#todo-open:hover,
#cog:hover {
  opacity: 0.9;
  transition: 0.4s ease-in;
}

#todos {
  font-family: 'Nanum Gothic', sans-serif;
  display: none;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
  border-bottom: 0.9rem solid rgba(33, 33, 33, 0);
  padding: 0 1rem;
  width: 30rem;
  min-height: 9rem;
  max-height: 20rem;
  position: absolute;
  left: 3vw;
  bottom: 20vh;
  z-index: 20;
  overflow-y: scroll;
  scrollbar-width: none;
}

#todo-input {
  font-family: 'Nanum Gothic', sans-serif;
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: inherit;
  color: #888;
  outline: 0;
}

#todo-clear {
  font-family: 'Nanum Gothic', sans-serif;
  display: none;
  margin: 2rem auto 0;
}

#todo-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-break: break-all;
}

#todo-item {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-item span {
  flex-grow: 1;
  margin: 0 0.8rem;
  font-size: 18px;
  padding-right: 0.5rem;
}

.done span {
  text-decoration: line-through;
  color: #999;
}

#todo-list input[type='checkbox'],
#todo-list:empty,
::-webkit-scrollbar {
  display: none;
}

.checkmark {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 40%;
  cursor: pointer;
  display: inline-flex;
}

.checkmark::before {
  content: '✓';
  font-size: 20px;
  display: none;
  align-self: center;
  margin: 0 0 0.3rem -0.3rem;
}

.done .checkmark::before {
  display: inline-block;
  color: #22f0bc;
}

.delete-todo {
  position: absolute;
  right: 1rem;
}

.empty {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.empty-text {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.3rem;
  margin: 0.2rem 2rem 0;
}

#todo-list:empty + .empty {
  display: flex;
}

#show-todo-list {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  position: absolute;
  bottom: 10rem;
  left: 0.5rem;
  width: 22rem;
  height: 11rem;
  text-transform: uppercase;
  overflow-y: scroll;
  scrollbar-width: none;
  word-break: break-all;
  line-height: 2ch;
}

#show-todo-list span {
  color: #fff0f5;
}

#show-todo-list .checkmark,
#show-todo-list a,
#show-todo-list input[type='checkbox'] {
  display: none;
}

#quote {
  max-width: 24rem;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 3rem;
  font-family: 'EB Garamond', serif;
}

#quote h5 {
  font-style: italic;
  margin-bottom: -0.5rem;
}

#quote span {
  font-size: 0.65rem;
}

.slider-div {
  height: 6rem;
  overflow: hidden;
}

.slider {
  overflow-y: scroll;
  height: 100%;
  transition: transform 0.4s ease;
  scrollbar-width: none;
}

#quote:hover .slider {
  transform: translate(0, 0%);
}

#quote .slider {
  transform: translate(0, -100%);
}

#quote a {
  text-decoration: none;
  color: #fff0f5;
}

#quote a:hover {
  text-decoration: underline;
  color: #999;
}

#cog {
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 1.4rem;
  bottom: 3vh;
  right: 3vw;
  opacity: 0.6;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

.rotate {
  transform: scale(1.2) rotate(65deg);
}

#settings {
  display: none;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
  width: 16rem;
  height: 15rem;
  position: absolute;
  bottom: 12vh;
  right: 3vw;
  z-index: 20;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
}

#settings h3 {
  grid-column: span 2;
  align-self: center;
}

#settings h4 {
  margin-bottom: 2px;
}

#settings > div {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#quote-settings {
  grid-column: span 2;
}

#settings > div > div {
  display: inline-flex;
  font-size: 0.8rem;
}

.setLabel {
  cursor: pointer;
  position: relative;
  display: block;
  width: 33px;
  height: 17px;
  background: #898989;
  border-radius: 100px;
  transition: all 0.3s ease;
  border: solid 1px #888;
}

.setLabel:after {
  position: absolute;
  left: -2px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: #fff0f5;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}

.setLabel:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label {
  background: #777;
  border: solid 1px #ccc;
}

.cbx:checked ~ label:after {
  left: 15px;
  background: #4495a0;
  border-left: 1px solid #fff;
}

#attribute {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: #999;
  text-align: start;
}

#attribute :nth-child(1) {
  font-size: 1.2rem;
  max-width: 70vw;
}

#attribute .slider span,
#attribute .slider a {
  font-size: 0.7rem;
}

#attribute a {
  color: #fff0f5;
  text-decoration: none;
  text-transform: uppercase;
}

#attribute a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #999;
}

.slider-attr-div {
  height: 2rem;
  overflow: hidden;
  margin-top: -0.3rem;
}

#attribute:hover .slider {
  transform: translate(0, 0%);
}

#attribute .slider {
  transform: translate(0, -100%);
  max-width: 70vw;
}

@media screen and (max-width: 970px) {
  #quote {
    width: 18rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    height: 100vh;
    min-height: 120%;
  }

  #heading {
    font-size: 1.3rem;
    margin: 6vh 0 0.5rem;
  }

  #user {
    margin-bottom: -0.2rem;
  }

  #focus {
    font-size: 0.8rem;
  }

  #input-focus {
    width: 50vw;
  }

  #clock,
  #alt-clock {
    font-size: 5rem;
  }

  #clockSpan {
    font-size: 2rem;
  }

  #weather-div {
    top: 0.1rem;
  }

  .weather-err {
    font-size: 0.6rem;
  }

  #todo-open,
  #cog {
    font-size: 1.3rem;
    opacity: 0.7;
  }

  #cog {
    bottom: 5vh;
  }

  #todos {
    min-height: 7rem;
    width: 70vw;
  }

  .empty-text {
    font-size: 1rem;
  }

  #show-todo-list {
    width: 14rem;
    height: 7.2rem;
    bottom: 7rem;
  }

  #quote {
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 5rem;
  }

  #quote .slider {
    transform: translate(0, 0);
  }

  #attribute {
    max-width: 15rem;
  }

  #attribute :nth-child(1) {
    font-size: 1rem;
  }

  #attribute .slider {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 440px) {
  #heading {
    font-size: 1.1rem;
  }

  #weather-div {
    font-size: 0.8rem;
  }

  #todos {
    width: 90vw;
  }

  #todo-open :nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  #heading {
    font-size: 0.8rem;
  }

  #weather-div {
    font-size: 0.6rem;
  }

  #show-todo-list {
    height: 5rem;
    line-height: 1.8ch;
  }
}

@media screen and (max-height: 550px) {
  html {
    height: 100vh;
    min-height: 120%;
  }

  #heading {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  #user {
    margin-bottom: -0.2rem;
  }

  #focus {
    font-size: 0.8rem;
  }

  #clock,
  #alt-clock {
    margin-top: 4rem;
    font-size: 5rem;
  }

  #clockSpan {
    font-size: 2rem;
  }

  #todos {
    min-height: 7rem;
    max-height: 12rem;
    width: 22rem;
    bottom: 14vh;
  }

  #todo-open {
    bottom: 30vh;
  }

  #todo-open,
  #cog {
    font-size: 1.3rem;
    opacity: 0.7;
  }

  #show-todo-list {
    width: 14rem;
    height: 6rem;
    bottom: 6rem;
  }

  #quote {
    display: none;
  }

  #attribute :nth-child(1) {
    font-size: 1rem;
  }

  #attribute .slider {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
