@import url('https://fonts.googleapis.com/css?family=Exo:300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.danger {
  color: red;
}

.p {
  padding: 0.3rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: 100%;
}

.button:hover {
  opacity: 0.8;
}

.fadeIn {
  animation: fadeIn 500ms ease-in;
}

.fadeOut {
  animation: fadeOut 500ms ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  height: '100vh';
  width: '100vw';
  justify-content: 'center';
  align-content: 'center';
  text-align: center;
  color: lavenderblush;
  font-family: 'Exo', sans-serif;
  overflow: hidden;
}

#heading {
  font-size: 1.8rem;
  margin: 6vh 0 1rem;
  align-self: center;
}

#user {
  width: 60vw;
  margin: -0.5rem auto;
  outline-color: #999;
}

#focus {
  font-size: 1.3rem;
  align-self: center;
}

#input-focus {
  width: 50vw;
  outline-color: #999;
  margin: auto;
}

#bg-full-image {
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

#weather-dis,
#weather-dis-alt {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather-title,
#weather-title-alt {
  grid-column: span 3;
}

#weather-temp,
#weather-temp-alt {
  justify-self: flex-end;
}

#deg,
#alt-deg {
  justify-self: flex-start;
  font-size: 0.8rem;
}

#weather-icon,
#weather-icon-alt {
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: -0.7rem;
}

#clock {
  margin: 2rem 0 0 1rem;
  font-size: 8rem;
  font-weight: 600;
}

#alt-clock {
  margin: 2rem 0 0 1rem;
  font-size: 8rem;
  font-weight: 600;
}

#clockSpan {
  font-size: 4rem;
  margin-left: 0.4rem;
  font-weight: 300;
}

#todo-open {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 3rem;
  left: 3rem;
  opacity: 0.4;
  transition: 0.4s ease-out;
}

#todo-open:hover {
  opacity: 0.7;
  transition: 0.4s ease-in;
}

#todos {
  background: rgba(33, 33, 33, 0.9);
  padding: 1rem;
  width: 25rem;
  max-height: 16rem;
  position: absolute;
  left: 3vw;
  bottom: 16vh;
  z-index: 1;
  display: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#todo-input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background: inherit;
  color: #888;
  outline: none;
}

#todo-clear {
  margin: 1rem auto 0;
  display: none;
  font-size: 80%;
}

#todo-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-break: break-all;
}

#todo-item {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-item span {
  flex-grow: 1;
  margin: 0 0.8rem;
  font-size: 18px;
  padding-right: 0.5rem;
}

.done span {
  text-decoration: line-through;
  color: #999;
}

#todo-list input[type='checkbox'] {
  display: none;
}

.checkmark {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 40%;
  cursor: pointer;
  display: inline-flex;
}

.checkmark::before {
  content: '✓';
  font-size: 20px;
  display: none;
  align-self: center;
}

.done .checkmark::before {
  display: inline-block;
  color: rgb(34, 240, 188);
}

.delete-todo {
  position: absolute;
  right: 1rem;
}

.empty {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-text {
  font-size: 1.3rem;
  margin: 0.5rem 2rem 0;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty {
  display: flex;
}

/* #show-todo-div {
  width: 30rem; 
  height: 30rem;
} */

#cog {
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 1.4rem;
  bottom: 3rem;
  right: 3rem;
  opacity: 0.4;
  transition: transform 0.5s ease;
  transition: 0.4s ease-out;
}

.rotate {
  transform: rotate(90deg);
}

.rotate-close {
  transform: rotate(0);
}

#cog:hover {
  opacity: 0.7;
  transition: 0.4s ease-in;
}

#settings {
  display: none;
  background: rgba(33, 33, 33, 0.9);
  padding: 1rem;
  width: 16rem;
  height: 14rem;
  position: absolute;
  bottom: 12vh;
  right: 3vw;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px auto auto 30px;
}

#settings h3 {
  grid-column: span 2;
}

#settings h4 {
  margin-bottom: 2px;
}

#focus-settings {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

#clock-settings {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

#temp-settings {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

#settings > div > div {
  display: inline-flex;
  align-items: center;
  margin-top: 1px;
  color: #999;
}

#settings input {
  cursor: pointer;
}

.setLabel {
  cursor: pointer;
  margin-left: 0.3rem;
}

#save-btn {
  grid-column: span 2;
  justify-self: center;
  border: 1px solid #999;
  padding: 0 0.5rem;
  border-radius: 10px;
  font-size: 80%;
}

#info-msg {
  grid-column: span 2;
  justify-self: center;
  display: none;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  #bg-full-image {
    min-height: 125%;
  }

  #heading {
    font-size: 1.5rem;
    margin: 7vh 0 0;
  }

  #focus {
    font-size: 1rem;
  }

  #clock {
    font-size: 5rem;
  }

  #alt-clock {
    font-size: 5rem;
  }

  #clockSpan {
    font-size: 2rem;
  }

  #todo-open {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  #todos {
    width: 65vw;
    font-size: 0.7rem;
  }

  .empty-text {
    font-size: 1rem;
  }

  #cog {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
    opacity: 0.7;
  }

  #settings {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 440px) {
  #heading {
    font-size: 1.2rem;
    margin-top: 7vh;
  }

  #weather-dis {
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }

  #deg {
    font-size: 0.7rem;
  }

  #alt-deg {
    font-size: 0.7rem;
  }

  #todos {
    left: 1rem;
  }
}

@media screen and (max-height: 500px) {
  #bg-full-image {
    min-height: 125%;
  }

  #heading {
    font-size: 1.2rem;
    margin: 7vh 0 0;
  }

  #focus {
    font-size: 1rem;
  }

  #clock {
    font-size: 5rem;
  }

  #alt-clock {
    font-size: 5rem;
  }

  #clockSpan {
    font-size: 2rem;
  }

  #todos {
    bottom: 10vh;
    font-size: 0.7rem;
  }

  #todo-open {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  #cog {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
    opacity: 0.7;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
