@font-face {
  font-family: 'Exo';
  src: url('fonts/Exo-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0020 —007F;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0020 —007F;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond Italic';
  src: url('fonts/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0020 —007F;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  overflow: hidden;
  font-family: 'Exo', 'Arial Narrow', 'Futura', sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  color: #fff0f5;
  background: #111;
}

.danger {
  color: #ff0000;
}

.p {
  padding: 0.3rem;
}

.m {
  margin: 0 0.3rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
  color: inherit;
}

.button:hover {
  opacity: 0.6;
}

.fadeIn {
  animation: fadeIn 500ms ease-in;
}

.fadeOut {
  animation: fadeOut 500ms ease-out;
}

.container {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#heading {
  height: 160px;
  padding-top: 1rem;
  font-size: 1.7rem;
}

#user {
  max-width: 60vw;
  height: 73px;
  margin: auto;
  outline-color: #999;
  cursor: pointer;
}

#focus {
  height: 80px;
  font-size: 1.2rem;
}

#input-focus {
  width: 40vw;
  outline-color: #999;
  margin: auto;
  cursor: pointer;
}

#bg-full-image {
  height: 100vh;
  width: 100vw;
  background-blend-mode: multiply;
}

.prompt {
  position: absolute;
  top: 0;
  left: 10vw;
  display: flex;
  flex-direction: column;
  background: #28282b;
  color: #fff0f5;
  padding: 1.5rem 2.4rem 1rem 1.8rem;
  border-radius: 5px;
}

.prompt span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.prompt span:hover {
  background: rgba(255, 255, 255, 0.1);
}

.prompt p {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.prompt div {
  padding-top: 1rem;
  align-self: flex-end;
}

.prompt button {
  color: rgb(152, 179, 255);
  border-radius: 5px;
  border: solid 1px rgba(153, 153, 153, 0.5);
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
}

#weather-div {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
}

.weather-error {
  height: 21px;
}

#weather-dis,
#weather-dis-alt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.weather-title,
.weather-title-alt {
  grid-column: span 3;
}

.weather-temp,
.weather-temp-alt {
  grid-column: 2 / 4;
  font-size: 1.6rem;
}

.deg {
  font-size: 1rem;
}

#five-day,
#alt-five-day {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 22rem;
  height: 15rem;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
}

#dayone,
#alt-dayone {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.3rem;
  margin-left: 10px;
}

#dayone h4,
#alt-dayone h4 {
  grid-column: span 3;
  font-size: 1.6rem;
}

#dayone h5:nth-child(2),
#alt-dayone h5:nth-child(2) {
  font-size: 3.5rem;
  grid-column: 1 / 2;
  align-self: flex-end;
}

#dayone h5:nth-child(3),
#alt-dayone h5:nth-child(3) {
  grid-column: span 2;
  align-self: center;
  font-size: 1.3rem;
}

#dayone i,
#alt-dayone i {
  grid-column: span 2;
  margin-top: -2rem;
}

#dayone :nth-child(5),
#alt-dayone :nth-child(5) {
  grid-column: 4 / 6;
  margin-top: -2.5rem;
}

#dayone :nth-child(6),
#alt-dayone :nth-child(6) {
  grid-column: 4 / 6;
  margin-top: -1.5rem;
}

.days {
  padding-top: 5px;
  font-size: 1rem;
}

#five-day div:nth-child(n + 2),
#alt-five-day div:nth-child(n + 2) {
  font-size: 0.8rem;
  border-top: 0.5px solid #fff0f5;
}

#five-day div:nth-child(n + 3),
#alt-five-day div:nth-child(n + 3) {
  border-left: 0.5px dotted #fff0f5;
}

#clock,
#alt-clock {
  /* width: 100%; */
  height: 255px;
  /* justify-self: flex-end;
  align-self: center;
  padding-top: 4rem;
  flex-grow: 2; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45%;
  margin: auto;
  font-size: 12rem;
  font-weight: 600;
  z-index: 10;
}

#clock {
  margin-left: 2rem;
}

#clockSpan {
  font-size: 3rem;
  margin-left: 0.4rem;
  font-weight: 300;
  z-index: 10;
}

#todo-open {
  position: absolute;
  bottom: 12vh;
  left: 3vw;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity 0.4s ease-out;
  z-index: 10;
}

#todo-open span {
  font-size: 1.5rem;
}

#todo-open:hover {
  opacity: 1;
}

#todo-open:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#todos {
  font-family: 'Arial Narrow', Arial, 'Century Gothic', Helvetica, sans-serif;
  display: none;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
  padding: 0 1rem 0.5rem;
  width: 30rem;
  min-height: 9rem;
  max-height: 20rem;
  position: absolute;
  left: 3vw;
  bottom: 20vh;
  z-index: 20;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #111 #333;
}

#todos::-webkit-scrollbar {
  width: 9px;
}

#todos::-webkit-scrollbar-track {
  background: #333;
}

#todos::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 6px;
  border: 3px solid #333;
  cursor: none;
}

#todo-input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: inherit;
  color: #888;
  outline: 0;
}

#todo-clear {
  display: none;
  margin: 2rem auto 0;
  align-items: center;
}

#todo-clear i {
  padding-right: 0.2rem;
}

#todo-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-break: break-all;
}

#todo-item {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-item span {
  flex-grow: 1;
  margin: 0 0.8rem;
  font-size: 18px;
  padding-right: 0.5rem;
}

.done span {
  text-decoration: line-through;
  color: #999;
}

#todo-list input[type='checkbox'],
#todo-list:empty {
  display: none;
}

.checkmark {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 40%;
  cursor: pointer;
  display: inline-flex;
}

.checkmark::before {
  content: '✓';
  font-size: 20px;
  display: none;
  align-self: center;
  margin: 0 0 0.3rem -0.45rem;
}

.done .checkmark::before {
  display: inline-block;
  color: #22f0bc;
}

.delete-todo {
  position: absolute;
  right: 1rem;
}

.la-minus-circle {
  pointer-events: none;
}

.empty {
  display: none;
  width: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.empty-text {
  font-size: 1.3rem;
  margin: 0.2rem 2rem 0;
}

#todo-list:empty + .empty {
  display: flex;
}

#show-todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  position: absolute;
  bottom: 10rem;
  left: 1rem;
  width: 22rem;
  height: 11rem;
  text-transform: uppercase;
  overflow-y: scroll;
  scrollbar-width: none;
  word-break: break-all;
  line-height: 2ch;
}

#show-todo-list span {
  color: #fff0f5;
}

#show-todo-list .checkmark,
#show-todo-list .delete-todo,
#show-todo-list input[type='checkbox'],
#show-todo-list::-webkit-scrollbar,
.slider::-webkit-scrollbar {
  display: none;
}

#quote {
  max-width: 24rem;
  min-height: 6rem;
  justify-content: flex-end;
  margin: auto auto 1rem;
  font-family: 'EB Garamond', Garamond, 'Big Caslon', 'Times New Roman', Times,
    serif;
  font-size: 0.8rem;
}

#quote p {
  height: 3rem;
  font-family: 'EB Garamond Italic', Garamond, 'Big Caslon', 'Times New Roman',
    Times, serif;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: -0.2rem;
}

#quote p span {
  font-size: 0.8rem;
}

.slider-div {
  height: 6rem;
  overflow: hidden;
}

.slider {
  overflow-y: scroll;
  height: 100%;
  transition: transform 0.4s ease;
  scrollbar-width: none;
}

#quote:hover .slider {
  transform: translate(0, 0%);
}

#quote .slider {
  transform: translate(0, -100%);
}

#quote a {
  text-decoration: none;
  color: #fff0f5;
}

#quote a:hover {
  text-decoration: underline;
  color: #999;
}

#cog {
  position: absolute;
  bottom: 7vh;
  right: 3vw;
  cursor: pointer;
  z-index: 10;
  will-change: transform;
  transition: transform 0.4s ease-out;
}

#cog i {
  opacity: 0.6;
  font-size: 1.6rem;
  will-change: transform;
  transition: opacity 0.4s ease-out;
}

#cog:hover i {
  opacity: 1;
}

#cog:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rotate {
  transform: scale(1.2) rotate(65deg);
}

#settings {
  display: none;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 5px;
  width: 16rem;
  height: 15rem;
  position: absolute;
  bottom: 13vh;
  right: 3vw;
  z-index: 20;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
}

#settings h3 {
  grid-column: span 2;
  align-self: center;
}

#settings h4 {
  margin-bottom: 2px;
}

#settings > div {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#quote-settings {
  grid-column: span 2;
}

#settings > div > div {
  display: inline-flex;
  font-size: 0.8rem;
}

.setLabel {
  cursor: pointer;
  position: relative;
  display: block;
  width: 33px;
  height: 17px;
  background: #898989;
  border-radius: 100px;
  transition: all 0.3s ease;
  border: solid 1px #888;
}

.setLabel:after {
  position: absolute;
  left: -2px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: #fff0f5;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}

.setLabel:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label {
  background: #777;
  border: solid 1px #ccc;
}

.cbx:checked ~ label:after {
  left: 15px;
  background: #4495a0;
  border-left: 1px solid #fff;
}

#attribute {
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  color: #999;
  text-align: start;
}

#attribute p {
  font-size: 1.2rem;
  /* max-width: 70vw; */
}

#attribute .slider span,
#attribute .slider a {
  font-size: 0.75rem;
}

#attribute a {
  color: #fff0f5;
  text-decoration: none;
  text-transform: uppercase;
}

#attribute a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #999;
}

.slider-attr-div {
  min-height: 2rem;
  overflow: hidden;
  margin-top: -0.3rem;
  max-width: 70vw;
}

#attribute:hover .slider {
  transform: translate(0, 0%);
}

#attribute .slider {
  transform: translate(0, -100%);
}

@media screen and (max-width: 1025px) {
  #quote {
    max-width: 20rem;
  }

  #quote .slider {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 600px) {
  html {
    height: 100vh;
    min-height: 120%;
  }

  #heading {
    height: 120px;
    font-size: 1.3rem;
  }

  #user {
    height: 50px;
  }

  #focus {
    height: 60px;
    padding-top: 3rem;
    font-size: 0.8rem;
  }

  #input-focus {
    width: 50vw;
  }

  #clock,
  #alt-clock {
    height: 150px;
    font-size: 7rem;
    bottom: 50%;
  }

  #clockSpan {
    font-size: 1.5rem;
  }

  #weather-div {
    top: 0.1rem;
  }

  .weather-err {
    font-size: 0.6rem;
  }

  #todo-open,
  #cog i {
    opacity: 0.8;
  }

  #todos {
    min-height: 7rem;
    width: 70vw;
  }

  .empty-text {
    font-size: 1rem;
  }

  #show-todo-list {
    width: 14rem;
    height: 8rem;
    bottom: 10rem;
    left: 0;
  }

  #quote {
    max-width: 75vw;
    max-height: 11rem;
    margin-bottom: 15vh;
    overflow-y: scroll;
  }

  #quote::-webkit-scrollbar {
    opacity: 0;
  }

  #attribute {
    padding: 0 0.3rem;
  }

  #attribute p {
    font-size: 1rem;
    /* max-width: 16rem; */
  }

  .slider-attr-div {
    max-width: 90vw;
  }

  #attribute .slider {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 440px) {
  #heading {
    height: 100px;
    font-size: 1.1rem;
  }

  #user {
    height: 50px;
  }

  #focus {
    padding-top: 0.8rem;
  }

  #weather-div {
    font-size: 0.8rem;
  }

  #todos {
    width: 90vw;
  }

  #todo-open :nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  #heading {
    font-size: 0.8rem;
  }

  #user {
    max-width: 80vw;
    min-height: 34px;
  }

  #weather-div {
    font-size: 0.6rem;
  }

  #five-day,
  #alt-five-day {
    top: -1rem;
    right: -1rem;
    transform: scale(0.8);
  }

  #clock,
  #alt-clock {
    bottom: 40%;
  }

  #show-todo-list {
    height: 5rem;
    line-height: 1.8ch;
  }
}

@media screen and (max-height: 569px) {
  html {
    height: 100vh;
    min-height: 120%;
  }

  #heading {
    height: 100px;
    font-size: 1rem;
  }

  #focus {
    font-size: 0.8rem;
  }

  #clock,
  #alt-clock {
    font-size: 6rem;
    padding-top: 0;
  }

  #clockSpan {
    font-size: 1.5rem;
  }

  #todos {
    min-height: 7rem;
    max-height: 12rem;
    width: 22rem;
    bottom: 30vh;
    left: 0;
    right: 0;
    margin: auto;
  }

  #todo-open,
  #cog i {
    opacity: 0.8;
  }

  #todo-open {
    bottom: 20vh;
  }

  #show-todo-list {
    width: 14rem;
    height: 6rem;
    bottom: 30vh;
  }

  #quote {
    display: none;
  }

  #settings {
    bottom: 20vh;
  }

  #attribute {
    grid-column: 1 / 4;
  }

  #attribute :nth-child(1) {
    font-size: 1rem;
  }

  #attribute .slider {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
